@font-face {
    font-family: "Arsenal_SC";
    src: url("assets/fonts/Arsenal_SC/ArsenalSC-Regular.ttf");
    font-weight: 200;
  }
  @font-face {
    font-family: "Manrope";
    src: url("assets/fonts/Manrope/static/Manrope-Regular.ttf");
    font-weight: 200;
  }
  html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  main {
    width: 100%;
    margin: auto;
  }
  header {
    background-color: aquamarine;
  }
  .main {
    margin: 0 auto;
  }
  .container {
    max-width: 1440px;
    font-size: 18px;
    font-family: "Manrope";
    padding: 20px; 
    margin: 0 auto;
  }
  .plain-text {
    font-family: "Manrope"; 
    font-size: medium;
    font-weight: 100;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 18px;
  }
  .nav-list {
    display: flex;
    justify-content: left;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
    transition: 0.3s;
  }
  .link {
    color: black;
    text-decoration: underline;
  }
  .nav-item {
    font-family: "Manrope";  
  }
  .nav-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 0 auto;
  }
  .round {
    border-radius: 50%;
    border: aquamarine 10px solid;
    margin: 10%;
    width: 200px;
  }
  code {
    font-size: 75%;
  }
  section {
    float: left;
    border: beige;
  }
  section.container {
    margin: 0 auto;
  }
  #summary {
    padding: 0;
    font-family: "Manrope";
  }
  #contactInfo.container {
    border: 20px;
    margin: 0 auto;
  }
  #skills {
    padding-top: 0;
  }
 #projects{
    padding: 0px;
    margin:0px;

 }
 #project-list{
    margin: 0px;
 }
  h2 {
    text-align: center;
    margin: 10px;
    padding: 10px;
    text-decoration: underline;
  }
  .skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skills-list li {
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
    flex-grow: 1;
    text-align: center;
    font-size: 25px;
  }
  .footer {
    background-color: aquamarine;
    font-family: "Manrope"; 
    text-decoration: none;
    color: black;
    font-weight: bold;
  }
  .rss {
    width: 121px;
    height: 45px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("./assets/img/rss.svg");
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px;
    color: black;
    height: 70px;
  }
  
  @media (max-width: 768px) {
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .round {
      margin: 0;
    }
    .nav-list {
      flex-direction: column;
      align-items: center;
    }
    .skills-list {
      flex-direction: column;
    }
  }
  #mycode{
    text-align: left;
    padding: 0px;
  }
  #codeExample{
    padding: 0px;
    margin: 0px;
  }